.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 14px;
}

body {
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
}

.bg_home{
    position: relative;
}

.bg_home::before{
    content: "";
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("../assets/img/image_microsoft.png");
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    opacity: 0.9;
}

@media screen and (max-width: 768px){
    .bg_home{
        height: 100vh;
    }
}

::-webkit-scrollbar {
  width: 13px; 
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 200); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0000ff;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: $black-dark;
}

.navbar_logo h1 {
    margin: 0;
    font-size: 24px;
    color: #fff;
}

.navbar_links {
    display: flex;
    align-items: center;
}

.navbar_links a {
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
    border-radius: 10px;
}

.navbar_links a.active {
    color: red;
}

.navbar_links a:hover {
    color: $red-normal;
    transition: color 0.3s ease;
}

.navbar_icon {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}

.navbar_icon a {
    margin-right: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar_icon a:hover {
    color: $red-normal;
    transition: color 0.3s ease;
}

.navbar_icon a#github_icon,
.navbar_icon a#linkedin_icon {
    margin-right: 20px;
    color: #fff;
    transition: color 0.3s ease;
}

.toggle_button {
    display: none;
}

@media only screen and (max-width: 910px) {
    .navbar_links {
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        position: absolute;
        top: 52px;
        right: 0;
        background-color: #333;
        width: 100%;
        padding: 5px;
    }

    .navbar_links a{
        padding: 5px 10px 0 10px;
    }

    .navbar_links.active {
        display: flex;
    }

    .navbar_links a {
        margin-right: 0;
        margin-bottom: 10px;
    }
    
    .navbar_toggle {
        display: block;
    }

    .toggle_button {
        display: block;
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .toggle_button.clicked {
        transform: rotate(90deg);
    }

    .navbar_icon{
        display: flex;
        position: absolute;
        right: 50px;
    }

}

@media only screen and (max-width: 368px) {
    .navbar_logo h1 {
        font-size: 20px;
    }

}

#github_icon:hover{
    i{
        color: $github;
        transition: color 0.3s ease;
    }
}

#linkedin_icon:hover{
    i{
        color: $linkedin;
        transition: color 0.3s ease;
    }
}

@keyframes translateY{
    from{
        transform: translateY(0) scale(1);
    }
    to{
        transform: translateY(-8px) scale(1.1);
    }
}

.hero{
    color: $white-normal;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    
    h1{
        text-align: center;
        line-height: 150%;
        max-width: 940px;
        font-size: 64px;
    }

    p{
        text-align: center;
        margin: 14px 0;
    }

}

.hero_links{
    color: $white-normal;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    
    h1{
        text-align: center;
        line-height: 150%;
        max-width: 940px;
        font-size: 46px;
    }

    p{
        text-align: center;
        margin: 14px 0;
    }
}

.button_contact{
    padding: 14px 28px;
    color: $white-normal;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
    border-radius: 10px;
}

.button_contact:hover{
    animation: scaleButton 0.8s alternate infinite;
}

#curriculo{
    background-color: $red-normal;
}

#github{
    background-color: $github;
}

#linkedin{
    background-color: $linkedin;
}

@keyframes scaleButton{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.07);
    }
}

@media screen and (max-width: 768px){
    .hero{
        min-height: 90vh;

        h1{
            font-size: 64px;
            padding: 0 14px;
            width: 100%;
        }

        h2{
            font-size: 14px;
        }
    }  

    .button_contact{
        font-size: larger;
    }

    .hero_links{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }


}

@media screen and (max-width: 590px){
    .hero{
        padding: 100px 0;
    }
}

@media screen and (max-width: 480px){
    .hero{
        padding: 100px 0;
    }
}

@media screen and (max-width: 350px){
    .hero h1{
        font-size: 50px;
    }
}



.about-me {
    display: flex;
    background-color: $primary-normal;
    height: 100%;
}

.about-me-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    
}

.about-me-text {
    width: 100%;
    padding: 50px;
}

.about-me-text h2 {
    color: $white-normal;
}

.about-me-text p {
    color: $white-normal;
}

.about-me-image  {
    width: 50%;
    text-align: center;
}

.about-me-image img {
    max-width: 80%;
    height: auto; 
    border-radius: 10px;
}

.cor_html{
    color: $html;
}

.cor_css{
    color: $css;
}

.cor_javascript{
    color: $javascript;
}

.cor_php{
    color: $php;
}

@media only screen and (max-width: 868px) {

    .about-me {
        height: auto;
        padding: 100px 10px 100px 10px;
    }

    .about-me-content {
        flex-direction: column;
        align-items: center;
    }

    .about-me-text {
        width: 100%;
        margin-top: 20px; 
        text-align: center;
        font-size: 16px;
        padding: 0;
    }

    .about-me-image img {
        width: 100%;
        max-width: none;
        margin-bottom: 30px;
    }

}



.conhecimento{
    background-color: $secondary-normal;
    overflow: hidden;
    color: $white-normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.about_content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
    padding: 64px 14px 64px 14px;

    img{
        max-width: 570px;
    }
}

.about_content div{
    flex: 1;
}

.about_description{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h2{
        font-size: 38px;
        margin-bottom: 20px;
    }

    p{
        margin-bottom: 10px;
        line-height: 150%;
    }
}

@media screen and (max-width: 768){
    .about_content{
        flex-direction: column;
    }
}

.conhecimentos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.conhecimentos img{
    max-width: 120px;
}

.habilidade {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

@media screen and (max-width: 768px) {
    .conhecimento{
        padding: 100px 0;
    }

    .conhecimentos {
        flex-direction: column;
    }

    .habilidade {
        margin: 10px;
    }

    .habilidade img{
        max-width: 100px;
    }

}



.projects{
    background-color: $primary-normal;
    color: $white-normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.projects_content h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
}

.projects_content p{
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: center;
    max-width: 780px;
}

.cards{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 40px 30px 40px;
    position: relative;
    z-index: 1;
}

.card{
    flex: 0 0 500px;
    display: flex;
    flex-direction: column;
    color: $black-dark;
    background-color: $white-normal;
    border-radius: 10px;
    box-shadow: 0px -1px 17px -4px rgba(0,0,0, 0.45);
    overflow: hidden;

}

.card img{
    width: 500px; 
    height: 300px; 
    object-fit: cover; 
    transition: transform 0.2s;
}


.card img:hover{
    transform: scale(1.2);
    z-index: 1;
}

.card_info{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: $white-normal;
    z-index: 99;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    font-weight: 700;

    strong{
        margin-bottom: 5px;
    }
}

.card_button button{
    border: 1px solid #0097a7;
    padding: 10px 20px;
    border-radius: 5px;
    color: $white-normal;
    background-color: #0097a7;
    margin: 5px;
    font-size: 14px;
}

.card_button button:hover{
    border: 1px solid $red-normal;
    background-color: $red-normal;
    transition: background-color 0.8s;
}

.card_icons{
    font-size: 18px;
    background-color: $primary-dark;
    padding: 5px 10px;
    border-radius: 5px;
}

.card_icons i{
    padding: 0 5px;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination ul {
    list-style: none;
    padding: 0;
    display: inline-block;
}

.pagination li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    background-color: #0097a7;
    padding: 8px 12px;
    border-radius: 4px;
}

.pagination li:hover {
    background-color: $red-normal;
    transition: background-color 0.8s;
}

#html5_icon{
    color: $html;
}

#css3_icon{
    color: $css;
}

#sass_icon{
    color: $sass;
}

#javascript_icon{
    color: $javascript;
}

#php_icon{
    color: $php;
}

#sql_icon{
    color: $sql;
}

#node_js_icon{
    color: $node_js;
}

#react_icon{
    color: $react;
}

@media screen and (max-width: 1050px) {
    .cards{
        flex-direction: column;
    }

    .card{
        flex: 1;
    }
    
    .card img{
        width: 500px;
    }

}

@media screen and (max-width: 910px) {
    .card img{
        width: 500px;
    }
}

@media screen and (max-width: 600px) {
    .card img{
        width: 400px;
    }
}


@media screen and (max-width: 500px) {
    .card img{
        width: 300px;
    }
}

@media only screen and (max-width: 350px) {
    .card img{
        width: 300px;
    }
}



.contact-me {
    display: flex;
    background-color: $secondary-normal;
    padding: 100px 100px 100px 100px;
}

.contact-me-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding: 50px 20px 50px 20px;
}

.contact-me-image img {
    width: 100%;
    border-radius: 8px;
}

.contact-me-buttons {
    width: 50%;
    text-align: center;
}

.contact-me-buttons h2 {
    color: $white-normal;
}

.contact-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #0097a7;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.contact-button:hover {
    background-color: $red-normal;
    transition: background-color 0.8s;
}

@media screen and (max-width: 768px) {
    .contact-me-content {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .contact-me-buttons {
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .contact-me-buttons a {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

}

@media only screen and (max-width: 368px) {
    .contact-me-buttons a {
        font-size: 14px;
    }

}



.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    gap: 24px;
    color: $white-normal;
    background-color: $primary-normal;
}

.footer_icons{
    display: flex;
    gap: 10px;
    color: $white-normal;
}

.footer_icons a{
    color: $white-normal;
}

.footer_icons a:hover{
    i{
        animation: translateY 0.8s infinite alternate;
        color: $red-light;
    }
}
