* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

header {
  width: 100%;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  color: #fff;
}

.header_icons {
  display: flex;
  gap: 14px;
}

.header_icons a:hover i {
  animation: translateY 0.8s infinite alternate;
  color: #d34040;
}

#github_icon:hover i {
  animation: translateY 0.8s infinite alternate;
  color: #703270;
}

#linkedin_icon:hover i {
  animation: translateY 0.8s infinite alternate;
  color: #0A66C2;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.header_button {
  border: 1px solid #fff;
  padding: 8px 14px;
  border-radius: 4px;
  color: #fff;
  background-color: transparent;
  transition: background-color 0.8s;
}

.header_button:hover {
  border: 1px solid #d34040;
  background-color: #d34040;
}

.header_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

@media screen and (max-width: 768px) {
  .header_content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header_content i {
    margin-top: 16px;
    font-size: 34px;
  }
  .header_logo img {
    width: 160px;
    margin-top: 46px;
  }
  .header_button {
    display: none;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 14px;
}

.bg_home {
  position: relative;
}

.bg_home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("../assets/image_microsoft.png");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0.9;
}

.hero {
  color: #fff;
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 14px;
}
.hero h1 {
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 64px;
}
.hero p {
  text-align: center;
  margin: 14px 0;
}

.hero_links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.hero_links h1 {
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 46px;
}
.hero_links p {
  text-align: center;
  margin: 14px 0;
}

.button_contact {
  padding: 14px 28px;
  color: #fff;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  margin: 10px;
}

.button_contact:hover {
  animation: scaleButton 0.8s alternate infinite;
}

#curriculo {
  background-color: #D94140;
}

#github {
  background-color: #703270;
}

#linkedin {
  background-color: #0A66C2;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}
@media screen and (max-width: 768px) {
  .hero {
    min-height: 90vh;
  }
  .hero h1 {
    font-size: 64px;
    padding: 0 14px;
    width: 100%;
  }
  .hero h2 {
    font-size: 14px;
  }
  .button_contact {
    font-size: small;
  }
}
@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 36px;
  }
}
.about {
  background-color: #06121e;
  overflow: hidden;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
  padding: 64px 14px 64px 14px;
}
.about_content img {
  max-width: 570px;
}

.about_content div {
  flex: 1;
}

.about_description {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about_description h2 {
  font-size: 38px;
  margin-bottom: 24px;
}
.about_description p {
  margin-bottom: 14px;
  line-height: 150%;
}

@media screen and (max-width: 768) {
  .about_content {
    flex-direction: column;
  }
}
.conhecimentos {
  display: flex;
  align-items: center;
  justify-content: center;
}
.conhecimentos img {
  max-width: 120px;
}

.habilidade {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
}

@media screen and (max-width: 768px) {
  .conhecimentos {
    flex-direction: column;
  }
  .habilidade {
    margin: 10px;
  }
  img {
    max-width: 80px;
  }
}
.services {
  background-color: #fff;
  color: #232224;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 14px;
}

.services_content h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 42px;
  margin-bottom: 14px;
}

.services_content p {
  line-height: 150%;
  margin-bottom: 14px;
  text-align: center;
  max-width: 780px;
}

.haircuts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0 44px 34px 44px;
  position: relative;
  z-index: 1;
}

.haircut {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
  overflow: hidden;
}
.haircut img {
  width: 100%;
  max-width: 354px;
  height: 313px;
  transition: transform 0.2s;
}

.haircut img:hover {
  transform: scale(1.2);
  z-index: 1;
}

.haircut_info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: #fff;
  z-index: 99;
  flex-direction: column;
  align-items: center;
}
.haircut_info strong {
  margin-bottom: 8px;
}

.button_info button {
  border: 1px solid #D94140;
  padding: 8px 14px;
  border-radius: 4px;
  color: #fff;
  background-color: #D94140;
  transition: background-color 0.8s;
}

.button_info button:hover {
  border: 1px solid #232224;
  background-color: #232224;
}

.haircut.group {
  flex-basis: calc(33.333% - 16px);
}

@media screen and (max-width: 768px) {
  .haircuts {
    flex-direction: column;
  }
  .haircut img {
    width: 314px;
  }
  .haircut_info {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 0;
  gap: 24px;
  color: #fff;
}

.footer_icons {
  display: flex;
  gap: 10px;
  color: #fff;
}

.footer_icons a:hover i {
  animation: translateY 0.8s infinite alternate;
  color: #d34040;
}

.btn_whatssapp {
  position: fixed;
  bottom: 14px;
  right: 24px;
  z-index: 99;
}
.btn_whatssapp img {
  max-width: 74px;
  transition: transform 0.4s;
}
.btn_whatssapp img:hover {
  transform: scale(1.1);
}

.btn_whatssapp .tooltip_text {
  visibility: hidden;
  position: absolute;
  width: 120px;
  top: 8px;
  left: -144px;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
  background-color: #232224;
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s;
}

.btn_whatssapp:hover .tooltip_text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .btn_whatssapp img {
    max-width: 64px;
  }
}
body {
  font-family: "Sora", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #06121e;
}

button {
  font-family: "Sora", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.hamburger {
  width: 2rem;
  height: 2rem;
  position: fixed;
  right: 2rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1000;
}

.show-menu .hamburger {
  right: 16rem;
}

.line {
  width: 100%;
  padding: 2px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 3px rgba(0, 0, 0, 0.788);
  transition: transform 0.7s;
}

.show-menu #line1 {
  transform: rotate(45deg) translate(0.4rem, 0.9rem);
  background-color: #fff;
  box-shadow: none;
}

.show-menu #line2 {
  opacity: 0;
  visibility: hidden;
}

.show-menu #line3 {
  transform: rotate(-45deg) translate(0.3rem, -0.9rem);
  background-color: #fff;
  box-shadow: none;
}

.sidebar {
  width: 20rem;
  height: 100vh;
  background: linear-gradient(329.54deg, #111111 0%, #222222 100%);
  box-shadow: 10px 5px 15px 10px rgba(0, 0, 0, 0.582);
  top: 0;
  right: -20rem;
  transition: all 0.8s;
  position: fixed;
  z-index: 2;
}

.show-menu .sidebar {
  right: 0;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 15rem;
    position: fixed;
  }
  .show-menu #line1 {
    left: 5rem;
    position: relative;
  }
  .show-menu #line3 {
    left: 5rem;
    position: relative;
  }
}
.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-item {
  text-align: center;
  margin-bottom: 0.5rem;
}

.menu-link {
  font-family: sans-serif;
  font-size: 2rem;
  color: #fff;
  transition: color 0.7s;
}

.menu-link:hover {
  color: #D94140;
  transition: color 0.7s;
}/*# sourceMappingURL=style.css.map */